* {
  box-sizing: border-box;
}

body {
  margin: 0; 
}

.App {
  text-align: center;
}

.container {
  margin-left: 0 !important;
}

.navbar {
  background-color: lightgray;
}

.search-bar {
  margin-right: 15px;
}